<div class="section group container" id="bio" data-section="bio">
	<div class="col span_1_of_8 section-title">
		<h1>about us</h1>
	</div>    
	<div class="col span_6_of_8 bio-columns">
		<h2>Audiopharmacy Prescriptions is a San Francisco-based international art collective featuring a plethora of talented musicians, dancers, DJs, photographers, writers, community activists, & event organizers. </h2>
		<hr>
		<p>With collective members residing in the US, Germany, the Netherlands, Finland, Austria, Japan, Singapore, and the Philippines, each artist brings a unique view of consciousness, empowerment, & respect for life in every creative endeavor shared with the world.  The collective is dedicated to support a movement that catalyzes collaborative work among the members of the AP collective, as well as other artists, who are interested in building community through the arts. We envision our collective to be a bridge that nurtures cross-cultural projects & friendships.  The collective provides visual & audio healing all geared to soothe the senses and feed the soul.</p>

		<h3>About Audiopharmacy</h3>
		<%= image_tag("8.jpg") %>

		<p>Pulling together inspiration of all corners of the earth, Audiopharmacy combines its talents to make a sound/culture that is avant garde, yet always speaking the language of the people. Making music that moves the soul and stirs insight, Audiopharmacy, a 4-piece live World Hip Hop ensemble based in San Francisco, consist of founder - Teao (guitar & turntables), Pomo/African lyricist - Ras K’dee (MC & keys), Keepyahjoy (bass & buckets), & Ras Pulse (drums & vocals). Spawned from its roots in hip hop, Audiopharmacy is inspired to extend its repertoire beyond the genre by intricately fusing live instrumentation & global musical styles, making the Audiopharmacy sound consistently evolving & eclectic. Although their sound is one of a kind, fans of Audiopharmacy have identified their sound as the ultimate blend of Manu Chao, Portishead, The Fugees, & Midnite,while lyrically, they are reminiscent of the great Gil Scott Heron, Black Star with the spirit of Bob Marley.</p>

		<p>Audiopharmacy has been blessed with the opportunity to collaborate or share the stage, both domestically & abroad, with many influential hip hop acts including the Wu Tang Clan, Dan the Automator, Michael Franti, Dead Prez, DJ Q-Bert, Grammy-Award winning Maya Azucena, and Shing02, to name a few. Domestically, Audiopharmacy have performed all over the West Coast (Ford Amphitheater, Bill Graham Civic Auditorium, Paramount Theater), as well as New York. Internationally, Audiopharmacy has taken the stage at festivals, concert halls, & clubs, in Canada, Germany, Switzerland, Austria, Holland, France, the UK, & Japan. Audiopharmacy represents the musical arm of is a part of Audiopharmacy Prescriptions.</p>
	</div>    
</div>