<!-- NEWS -->
<div class="section group container bgcolor-white" id="news" data-section="news">				
    <div class="col span_1_of_12 section-title">
		<h1>the band</h1>
	</div>                     
	<div class="col span_6_of_8 the_band" style="padding-left: 2.3%;">
		<div class="col span_2_of_12">
			<img src="http://www.kqed.org/assets/img/community/heritage/americanindian/rkdee-160x160.jpg"/>
			<h2><a href="news-open.html">Desirae Harp</a></h2>
			<small>[title/role]</small>
		</div>  
		<div class="col span_2_of_12">
			<img src="https://i1.sndcdn.com/avatars-000099793278-x0jlgj-t500x500.jpg"/>
			<h2><a href="news-open.html">Keepyahjoy</a></h2>
			<small>[title/role]</small>
		</div>
		 <div class="col span_2_of_12">
			<img src="http://benrobertsphotography.com/files/posts/2606/flyover_portrait024.jpg"/>
			<h2><h2><a href="news-open.html">Pasha Brown</a></h2>
			<small>[title/role]</small>
		</div>
		 <div class="col span_2_of_12">
			<img src="http://www.audiopharmacy.com/images/band-photo-teao-bw-big.jpg"/>
			<h2><h2><a href="news-open.html">Ras K’ dee</a></h2>
			<small>[title/role]</small>
		</div>
		<div class="col span_2_of_12">
			<img src="https://progressivepupil.files.wordpress.com/2013/11/raskdeejpg.jpg"/>
			<h2><a href="ras-kwome.html">Ras Kwome</a></h2>
			<small>[title/role]</small>
		</div>
		<div class="col span_2_of_12">
			<img src="https://progressivepupil.files.wordpress.com/2013/11/raskdeejpg.jpg"/>
			<h2><a href="teao-sense.html">Teao Sense</a></h2>
			<small>[title/role]</small>
		</div>
	</div>
	<div class="col span_1_of_12 section-title ">
        <a href="/pages/band" class="arrow">
            <span class="fa fa-chevron-right"></span>
        </a>
	</div>                
</div>    