<div class="section group container" id="music" data-section="music">				
    <div class="col span_1_of_8 section-title">
		<h1>music</h1>
	</div>                
	<div class="col span_6_of_8">
		<div id="covers_container">
            <ul id="covers" class="group">
                <li>
					<a href="music-open.html">
						<img alt=" " src="https://www.indybay.org/uploads/2014/09/15/10330500_10154503867850338_459971571797999556_n.jpg" />
						<div>
                            <h3>World Destruction</h3>
                            <span>Release date: March 28, 1992</span>
                            <hr>
                            <h4>Click for details</h4>
						</div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<img alt=" " src="http://www.rockwired.com/uforgotaboutuscd.jpg" />
                        <div>
                            <h3>Only if you run</h3>
                            <span>Release date: March 28, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <img alt=" " src="http://ecx.images-amazon.com/images/I/51IFjZrXd2L._SY355_.jpg" />
                        <div>
                            <h3>The Distance</h3>
                            <span>Release date: March 28, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<img alt=" " src="_/img/discography/4.jpg" />
						<div>
                            <h3>Space (I Belive in)</h3>
                            <span>Release date: March 29, 1992</span>
                            <hr>
                            <h4>Click for details</h4>
						</div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<img alt=" " src="_/img/discography/5.jpg" />
                        <div>
                            <h3>All Around the World</h3>
                            <span>Release date: March 30, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <img alt=" " src="_/img/discography/6.jpg" />
                        <div>
                            <h3>Killing</h3>
                            <span>Release date: March 1, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li> 
				<li>
					<a href="music-open.html">
						<img alt=" " src="_/img/discography/7.jpg" />
						<div>
                            <h3>Last Stop: This Town</h3>
                            <span>Release date: March 2, 1992</span>
                            <hr>
                            <h4>Click for details</h4>
						</div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<img alt=" " src="_/img/discography/8.jpg" />
                        <div>
                            <h3>A small Victory</h3>
                            <span>Release date: March 3, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <img alt=" " src="_/img/discography/9.jpg" />
                        <div>
                            <h3>Against the Ninja</h3>
                            <span>Release date: March 4, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li> 
				<li>
					<a href="music-open.html">
						<img alt=" " src="_/img/discography/10.jpg" />
						<div>
                            <h3>Come with me now</h3>
                            <span>Release date: March 5, 1992</span>
                            <hr>
                            <h4>Click for details</h4>
						</div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<img alt=" " src="_/img/discography/11.jpg" />
                        <div>
                            <h3>Basketball</h3>
                            <span>Release date: March 5, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <img alt=" " src="_/img/discography/12.jpg" />
                        <div>
                            <h3>Mother Mother</h3>
                            <span>Release date: March 6, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li> 
				<li>
					<a href="music-open.html">
						<img alt=" " src="_/img/discography/13.jpg" />
                        <div>
                            <h3>Red Right Hand</h3>
                            <span>Release date: March 7, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <img alt=" " src="_/img/discography/14.jpg" />
                        <div>
                            <h3>Goin' out west</h3>
                            <span>Release date: March 8, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <img alt=" " src="_/img/discography/15.jpg" />
                        <div>
                            <h3>We have a tehnical</h3>
                            <span>Release date: March 9, 2013</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>  
            </ul>
        </div>
	</div>				
    <div class="col span_1_of_12 section-title ">
        <a href="/pages/music" class="arrow">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>                  
</div>
</div>
    