<div id="slider">            
	<ul>
        <li>
        	<img alt=" " src="/_/img/ap_pics/5.jpg" />
			<div class="slider-caption">
				<h2>Check out the New Album "Sweet life"</h2>
				<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
			</div>
		</li>
        <li>
			<img alt=" " src="/_/img/ap_pics/1.jpg" />
			<div class="slider-caption">
				<h2>The highly anticipated new album from Bandit to be released May 21</h2>
			</div>
		</li>
        <li>
			<img alt=" " src="/_/img/ap_pics/4.jpg" />
			<div class="slider-caption">
				<h2>Make an appearance in the "One Love" music video</h2>
				<h4>Donec sagittis arcu eget orci facilisis tincidunt</h4>
			</div>
		</li>
		<li>
			<img alt=" " src="/_/img/ap_pics/2.jpg" />
			<div class="slider-caption">
				<h2>Make an appearance in the "One Love" music video</h2>
				<h4>Donec sagittis arcu eget orci facilisis tincidunt</h4>
			</div>
		</li>
	</ul>            
	<div id="slider-arrows">
		<span><a id="prev-slide" href="#">prev</a></span>
		<span><a id="next-slide" href="#">next</a></span>
	</div>                
</div>