<style>

.the_band img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

  small {
  font-size: 85%;
  text-align: center;
  display: block;
  color: #aaa;
  line-height: 24px;
}

#gallery .the_band .col {
  display: block;
  float: left;
  margin: 0 0 0% 3%;
}

.row > .col.span_2_of_12 {
  display: block;
  float: left;
  margin: 0 0 0 3.5%;
}

</style>


<div id="boxed">    
	<!-- CONTENT -->
	<div class="section group wrapper">        
		<!-- SLIDER -->
		<%= render "slider" %>



		<!-- MUSIC -->
		<%= render "music" %>

		<!-- LIVE -->
                
		
		<!-- LIVE -->
		<%= render "band" %>
	        
		<!-- GALLERY -->
		<div class="section group container" id="gallery" data-section="gallery">				
	        <div class="col span_1_of_8 section-title">
				<h1>gallery</h1>
			</div>                    
			<div class="col span_6_of_8 gallery">                
				<div id="gallery-switch">
					<ul class="group">
	                	<li><a href="#" class="active_gallery_navigation">Photos</a></li>
	                    <li><a href="#">Videos</a></li>
					</ul>
				</div>                        
				<div class="section group photos active_gallery_section" id="photos">
	                <ul>
	                    <li class="group">
	                        <img alt=" " src="http://www.moroccoworldnews.com/wp-content/uploads/2014/03/Audiopharmacy-Tours-Morocco-.jpg" />
	                        <h2 class="caption">&mdash; Photography by [Credit ]</h2>
	                    </li>
	                    <li class="group">
	                        <img alt=" " src="http://aifisf.com/festival/2014/wp-content/uploads/2013/09/audiopharmacy.jpg" />
	                        <h2 class="caption">&mdash; Photography by Johan Boutin</h2>
	                    </li>
	                    <li class="group">
	                        <img alt=" " src="_/img/gallery3.jpg" />
	                        <h2 class="caption">&mdash; Photography by Johan Boutin</h2>
	                    </li>
	                    <li class="group">
	                        <img alt=" " src="_/img/gallery4.jpg" />
	                        <h2 class="caption">&mdash; Photography by Johan Boutin</h2>
	                    </li>
	                    <li class="group">
	                        <img alt=" " src="_/img/gallery5.jpg" />
	                        <h2 class="caption">&mdash; Photography by Johan Boutin</h2>
	                    </li>
	                    <li class="group">
	                        <img alt=" " src="_/img/gallery6.jpg" />
	                        <h2 class="caption">&mdash; Photography by Johan Boutin</h2>
	                    </li>
	                </ul>
	                <ul class="gallery-nav">
	                	<li><a class="prev-gallery" href="#">Prev</a></li>
	                	<li class="gallery-no">4/11</li>
	                	<li><a class="next-gallery" href="#">Next</a></li>
	               	</ul>
				</div>                    
	            <div class="section" id="videos">
	                <ul>
	                	<li class="group">
							<iframe src="https://www.youtube.com/embed/6nO3Nmwd-rg" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Ruined Lands | 2013</h2>
						</li>
						<li class="group">
							<iframe src="https://www.youtube.com/embed/8VzP5VlK5TQ" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Prophecies | 20XX</h2>
						</li>
						<li class="group">
							<iframe src="https://www.youtube.com/embed/PmetCAy4w9k" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Mama | 20XX</h2>
						</li>
						<li class="group">
							<iframe src="https://www.youtube.com/embed/uAoQk4vR67E?list=PLtVZJ5J97A6tZ8njgQ92XCEpbUvAVZEre" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Shake the Bay Bridge | 20XX</h2>
						</li>

						<li class="group">
							<iframe src="https://www.youtube.com/embed/MLM5M0-HgLg" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Remember Us (live version) | 20XX</h2>
						</li>

						

						<li class="group">
							<iframe src="https://www.youtube.com/embed/uAoQk4vR67E?list=PLtVZJ5J97A6tZ8njgQ92XCEpbUvAVZEre" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Audiopharmacy playlist | 20XX</h2>
						</li>

						<li class="group">
							<iframe src="https://www.youtube.com/embed/lxkoA9jgNME" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Unify the tribes | 20XX</h2>
						</li>

						<li class="group">
							<iframe src="https://www.youtube.com/embed/w_h9-PhzXRo" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | They will know - Dahsyat RCTI** | 20XX</h2>
						</li>

						<li class="group">
							<iframe src="https://www.youtube.com/embed/rUl70Z-fHyo" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | 700 Turkish Youth | 20XX</h2>
						</li>

						<li class="group">
							<iframe src="https://www.youtube.com/embed/VMwH7a22Kyg" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | The Path | 20XX</h2>
						</li>

						<li class="group">
							<iframe src="https://www.youtube.com/embed/videoseries?list=PLFojwQaZtjMETJtnO6p3Y21QaGEdedRq2" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Live Performance Playlist | 20XX</h2>
						</li>
						<li class="group">
							<iframe src="https://www.youtube.com/embed/videoseries?list=PLFojwQaZtjMGjC3GGD1wbnyeWc7RQkX9h" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Music Videos Playlist | 20XX</h2>
						</li>
						<li class="group">
							<iframe src="https://www.youtube.com/embed/videoseries?list=PLFojwQaZtjMF5FglNYMnwiC78AIlT4PJ_" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<h2 class="caption">&mdash; Audiopharmacy | Songs to Bump (optional) | 20XX</h2>
						</li>
	                </ul>
	                <ul class="gallery-nav">
	                	<li><a class="prev-gallery" href="#">Prev</a></li>
	                	<li class="gallery-no">4/11</li>
	                	<li><a class="next-gallery" href="#">Next</a></li>
	               	</ul>
	            </div>
			</div>                
		</div>


	        
		<!-- BIOGRAPHY -->
		<%= render "about_us" %>

		<!-- NEWS -->
			<div class="section group container" id="news" data-section="news">				
                <div class="col span_1_of_8 section-title">
					<h1>news</h1>
				</div>                    
				<div class="col span_2_of_8">
					<h3>April 24, 2013</h3>
					<img alt=" " src="_/img/news-thumbnail1.jpg" />
					<h2><a href="news-open.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h2>
                    <p>Phasellus posuere diam sed leo laoreet et adipiscing ligula placerat. Pellentesque ullamcorper sem arcu commodo tempor pellentesque.</p>
                    <h4><a href="news-open.html">read more</a></h4>
				</div>                    
				<div class="col span_2_of_8">
					<h3>April 24, 2013</h3>
					<img alt=" " src="_/img/news-thumbnail2.jpg" />
					<h2><a href="news-open.html">Nullam semper luctus lorem, dignissim accumsan neque pharetra</a></h2>
                    <p>Integer gravida ipsum et ligula adipiscing tristique. Nullam aliquet, metus ac elementum varius, tortor justo rhoncus nisi, metus. </p>
                    <h4><a href="news-open.html">read more</a></h4>
				</div>                    
				<div class="col span_2_of_8">
					<h3>More Headlines</h3>
					<ul>
                        <li><a href="news-open.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
                        <li><a href="news-open.html">Nullam ut nibh ante, non porta magna</a></li>
                        <li><a href="news-open.html">Commodo in risus convallis venenatis</a></li>
                        <li><a href="news-open.html">Nunc id nulla non enim accumsan rutrum ac vel nulla</a></li>
                        <li><a href="news-open.html">Fusce facilisis vehicula magna, dui ullamcorper </a></li>
					</ul>
				</div>                
			</div>
		
	        
		
	    
		
	</div><!-- End Wrapper -->        
</div><!-- End Boxed -->