<div class="section group wrapper">        
	<div class="section group container" id="band" data-section="band">				
	    <div class="col span_1_of_12 section-title">
			<h1>ap - music</h1>
		</div>  
	<div>
	<div class="col span_7_of_8 the_band">
		<div class="row">
			<div class="col span_2_of_12">
				<a href="music-open.html">
					<img src="http://www.kqed.org/assets/img/community/heritage/americanindian/rkdee-160x160.jpg"/>
					<h2>Desirae Harp</h2>
					<small>[title/role]</small>
				</a>
			</div>
			 <div class="col span_2_of_12">
				<a href="music-open.html">
					<img src="https://i1.sndcdn.com/avatars-000099793278-x0jlgj-t500x500.jpg"/>
					<h2>Keepyahjoy</h2>
					<small>[title/role]</small>
				</a>
			</div>
			 <div class="col span_2_of_12">
				<a href="music-open.html">
					<img src="http://benrobertsphotography.com/files/posts/2606/flyover_portrait024.jpg"/>
					<h2>Pasha Brown</h2>
					<small>[title/role]</small>
				</a>
			</div>
			<div class="col span_2_of_12">
				<a href="music-open.html">
					<img src="http://www.audiopharmacy.com/images/band-photo-teao-bw-big.jpg"/>
					<h2>Ras K’ dee</h2>
					<small>[title/role]</small>
				</a>
			</div>
			<div class="col span_2_of_12">
				<a href="music-open.html">
					<img src="https://progressivepupil.files.wordpress.com/2013/11/raskdeejpg.jpg"/>
					<h2>Ras Kwome</h2>
					<small>[title/role]</small>
				</a>
			</div>
			<div class="col span_2_of_12">
				<a href="music-open.html">
					<img src="https://progressivepupil.files.wordpress.com/2013/11/raskdeejpg.jpg"/>
					<h2>Teao Sense</h2>
					<small>[title/role]</small>
				</a>
			</div>
		</div>
	</div>
</div>
</div>