// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.the_band h2 {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

.the_band img {
  height: 150px;
  width: 140px;
  border-radius: 50%;
}